/* Start global rules */
* {
    box-sizing: border-box;
}
:root {
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Page */
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* End Page */
/* Start Sidebar */
aside {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
aside > h3 {
    margin-bottom: 50px;
}
aside > h3::before,
aside > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}
aside > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}
aside > h3::after {
    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -29px;
}
aside ul li a {
    margin-bottom: 5px;
    transition: 0.3s;
}
aside ul li a:hover,
aside ul li a.active {
    background-color: #f6f6f6;
}
@media (max-width: 767.9px) {
    aside {
        width: 58px;
        padding: 10px !important;
    }
    aside > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    aside > h3::before,
    aside > h3::after {
        display: none;
    }
    aside ul li a span {
        display: none;
    }
}
/* End Sidebar */